<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="main-content">
        {{> header }}
        {{ message }}
    </div>
    {{> footer }}
</body>

</html>