<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="main-content">
        {{> header }}
    </div>
    {{> footer }}
</body>

</html>